* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: poppins;
  src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

body {
  font-family: poppins;
}

/*------------------------------Header section--------------------------------------------------------------*/
.container {
  width: 80%;
  margin: 0 auto;
}

header {
  height: 50px;
}


.headerBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.headerBox__logo {
  display: flex;
  align-items: center;
}

.headerBox__logo img {
  width: 36px;
  margin-top: 7px;
  align-items: center;
}

.headerBox__logo p {
  color: rgb(70, 66, 66);
  font-size: 25px;
  margin-top: 14px;
  margin-left: 5px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 375px;
  margin-top: 19px;
  font-size: 19px;
  width: 50%;
}

.navbar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}


.navbar a {
  text-decoration: none;
  margin-left: 24px;
  color: rgb(70, 66, 66);
}

.navbar a:hover {
  cursor: pointer;
  color: #119982;
}

/*-----------------------------------/Header section----------------------------------------------------------*/
.parent {
  width: 1350px;
  /*padding: 20px;
  align-items: center;*/
  margin-top: 20px;
  background-image: url(./heading-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 30px;
  margin-top: 25px;
}

.order h1 {
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 5px;
  color: #444;
  /*padding: 45px 0 60px 0;*/
}

.order ul {
  line-height: 30px;
  font-size: 25px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.order ul li {
  list-style: none;
  color: #444;
}

.order ul li a {
  text-decoration: none;
  color: #119982;
}

.clear {
  clear: both;
}

/*-----------------------------------------------------------------------------------------------------------------*/

.category-1 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main {
  margin-right: 40px;
}

.img__left img {
  width: 540px;
  height: 400px;
  transition: all 1s;
}

.img__left img:hover {
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
}

.right h1 {
  color: #444;
  margin-right: 85px;
}

.right p {
  color: #888;
  line-height: 32px;
  margin-right: 85px;
}

.box {
  display: flex;
  flex-direction: row;
}

.box-picture {
  width: 150px;
  padding: 30px 50px;
  border: 1px solid #2abd8f;
  background-color: #effdfa;
  margin: 35px 5px;
  right: 50px;
  position: relative;
  transition: all 1s;
}

.box-picture img {
  width: 45px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

.box-text {
  display: block;
  line-height: 30px;
  color: #444;
}

.box-text p {
  color: #888;
}

.box-picture:hover {
  transform: scale(1.07);
  transition-timing-function: ease-in-out;
}

.clear {
  clear: both;
}

/*navbar-------------------------------------------------------------------------------*/

.container {
  width: 80%;
  margin: 0 auto;
}

.title {
  margin-top: 55px;
  text-align: center;
  font-size: 32px;
  color: #444;
}

.expert {
  margin: 50px 0;
}

.expert {
  display: flex;
  justify-content: space-between;
  /*flex-direction: row;*/
}

.cards img {
  background-color: #effdfa;
  width: 350px;
  height: 350px;
}

.cards img:hover {
  /*box-shadow: 2px 2px 2px 2px;*/
  width: 370px;
  height: 370px;
  border-radius: 15%;
}

.bg {
  margin: 0px auto;
  width: 350px;
  height: 400px;
  background-image: url(./images/teacher-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #effdfa;
  transition: all 1s;
}

.bg:hover {
  background-size: cover;
  transition-timing-function: ease;
}

.cards-img {
  margin: 0px auto;
  width: 350px;
  height: 400px;
  background-image: url(./images/teacher-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #effdfa;
  transition: all 1s;
}

.cards-img:hover {
  background-size: cover;
  transition-timing-function: ease;
}

.cards-imgs {
  margin: 0px auto;
  width: 350px;
  height: 400px;
  background-image: url(./images/teacher-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #effdfa;
  transition: all 1s;
}

.cards-imgs:hover {
  background-size: cover;
  transition-timing-function: ease;
}

.teach {
  display: flex;
  justify-content: space-between;
}

.teach h3 {
  color: #444;
}

.teach p {
  color: #888;
}

/*------------------------------------------------------------------------------------------------------*/
.clear {
  clear: both;
}

.view {
  margin: 25px;
  text-align: center;
  font-size: 32px;
  color: #222;
  margin-top: 95px;
}

.container-01 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.box-0 {
  margin-top: 20px;
  margin: 10px;
  width: 500px;
  height: 200px;
  background-color: #effdfa;
  border: 1.5px solid #2abd8f;
  transition: all 1.5s;
}

.box-0:hover {
  transform: scale(1.07);
  transition-timing-function: ease-in-out;
}

.box-1 p {
  padding: 25px 27px;
  line-height: 28px;
  text-align: center;
}

.box-2 {
  padding: 25px 27px;
  line-height: 28px;
  text-align: center;
}

.box-3 {
  padding: 25px 27px;
  line-height: 28px;
  text-align: center;
}

.first img {
  margin-top: 25PX;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-left: 120px;
  transition: all 1s;
}

.first img:hover {
  transform: scale(1.06);
  transition-timing-function: ease-in;
}

.second-img img {
  margin-top: 25PX;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 5px;
  transition: all 1s;
}

.second-img img:hover {
  transform: scale(1.06);
  transition-timing-function: ease-in;
}

.third img {
  margin-top: 25px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-right: 140px;
  transition: all 1s;
}

.third img:hover {
  transform: scale(1.06);
  transition-timing-function: ease-in;
}

/*---------------------------------------FOOTER SECTION----------------------------------------*/
footer {
  width: 100%;
  margin: 0 auto;
  background-color: #effdfa;
  margin-top: 50px;
}

.footer-2 {
  display: flex;
  justify-content: space-between;

}

.footer-left-1 {
  display: flex;
  flex-direction: column;
}

.footer-left {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  margin-left: 10px;
}

.footer-left img {
  width: 40px;
  height: 40px;
  margin-top: 20px;
}

.footer-left img:hover {
  border-radius: 50%;
}

.footer-left h2 {
  margin-top: 27px;
  font-size: 27px;
  color: rgb(114, 107, 107);
}

.footer-2 {
  display: flex;
  padding: 50px 0;
}

.footer-img {
  margin-left: 15px;
}

.footer-img p {
  margin: 13px 0;
  color: rgb(114, 107, 107);
}

.footer-img img {
  width: 45px;
  height: 45px;
  transition: all 1s;
}

.footer-img img:hover {
  border-radius: 60%;
  transition-timing-function: ease-in;
}

/*------------------------------MIDDLE SECTION---------------------------------------------------*/
.middle-section {
  display: flex;
  flex-direction: column;
  margin: 0 65px;
}

.middle-section h2 {
  margin-top: 21px;
  font-size: 27px;
  color: rgb(114, 107, 107);
}

.middle-section a {
  text-decoration: none;
  color: rgb(114, 107, 107);
  font-size: 18px;
}

.middle-section a:hover {
  color: #11b982;
  cursor: pointer;
}

/*-----------------------------------------------------------------------------------------------------*/
.middle-right {
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}

.middle-right h2 {
  margin-top: 21px;
  font-size: 27px;
  color: rgb(114, 107, 107);
}

.middle-right p {
  margin: 10px 12px;
  color: rgb(114, 107, 107);
}

.middle-right p:hover {
  cursor: pointer;
  color: #11b982;
}

/*--------------------------------------------------------------------------------------------------------------*/
.right-section {
  display: flex;
  flex-direction: column;
  margin: 0 21px;
}

.right-section h2 {
  margin-top: 21px;
  color: rgb(114, 107, 107);
  font-size: 27px;

}

.right-section p {
  margin: 10px 5px;
  color: rgb(114, 107, 107);
}

.right-section input {
  width: 80%;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #11b982;
  background-color: white;
  color: #11b982;
}

.right-section input:hover {
  border: 2px solid rgb(19, 20, 20);
}

.right-section::placeholder {
  color: rgb(114, 107, 107);
}

.right-section button {
  padding: 10px 19px;
  font-size: 18px;
  border: 2px solid #11b982;
  background-color: white;
  color: #11b982;

}

.right-section button:hover {
  transform: scale(1.07);
  cursor: pointer;
}

.line {
  width: 100%;
  height: 100px;
}

.rowline {
  width: 80%;
  text-align: center;
  margin: 15px 30px 10px 140px;
  border: 1px solid #11b982;
  background-color: #effdfa;
}

.creat {
  margin: 35px 0;
  text-align: center;
  font-size: 19.72px;
  color: rgb(87, 79, 79);
  /*margin-bottom: 50px;*/
}

.creat span {
  color: #11b982;
}